.float-container {
  border: 3px solid #fff;
  padding: 20px;
  background-color: #332a1a;

}

.float-child:first-child {
  width: 58%;
  height:255px;
  float: left;
  padding: 20px;
  margin-top:20px;
  margin-bottom: 20px;
  border-radius: 25px;
  
}  
.float-child:last-child{
  display: flex;
  width: 40%;
  height:255px;
  float: right;
  padding: 20px;
  margin-top:20px;
  margin-bottom: 20px;
  border-radius: 25px;
box-shadow: 1px 1px 1px 1px;
align-items: center;
}
.heading{
  font-size: 30px;
  font-weight: bold;
  
}
.desc{
  margin:10%;
  height:150px;
  align-items: center;
  font-family:'Allura-Regular';

}
p{
  font-family: 'Allura-Regular';
  font-size: 25px;
}